<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soody">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mood">
        <activity android:name="com.example.soody.MusicList"></activity>
        <activity android:name="com.example.soody.EmojiPage" />
        <activity android:name="com.example.soody.PlayerActivity"/>
        <activity android:name="com.example.soody.MainActivity"/>
        <activity android:name="com.example.soody.HomeActivity"/>

        <activity android:name="com.example.soody.splash"
            android:exported="true">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>